*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.calculator{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width:320px
}
.display{
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    text-align: right;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    height: 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.operator {
    background-color: #087bc8;
    color: white;
}
#equal {
    grid-column: span 4; 
    
    
}
#ac{
    background-color: #e60909;
    color: white;
}

